BasedOnStyle: WebKit
AlignAfterOpenBracket: BlockIndent
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
AlignOperands: Align
ContinuationIndentWidth: 4
AlignTrailingComments: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Attach
IndentWrappedFunctionNames: false
SortIncludes: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
